*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}


p:nth-child(1){
    width: 50vw;
    margin:1em;
    position: relative;
    right: 25vw;
    bottom: 50px;
}

p:nth-child(2){
    width: 50vw;
    margin:1em;
    position: relative;
    left:25vw;
    top: 50px;
}