*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

h1:nth-child(2){
    position: sticky;
    top: 0px;
    background-color: aqua;
}

p{
    width: 50vw;
    margin:1em;
}