* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Great Vibes";
    src: url("./Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html,body{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

body{

    color: #ffffff;
    font-family: "Smooch Sans", sans-serif;
    height: 100vh;
    background-color: #58442e;

}

.hueco{
    height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Dia13/ai-generated-8775374_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    margin-top: 20px;
    font-size: 90px;
    border-bottom: 1px solid white;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-top: -10px;
}


h2{
    font-family: "Smooch Sans", sans-serif;
    font-weight: 300;
    position: relative;
    top:21vh;
    left: 10vw;
    margin-top: 20px;
    font-size: 30px;
    width: 80vw;
}


nav ul{
    list-style: none;
    display: flex;
    gap: 20px;}

nav a {
    font-family: "Smooch Sans", sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5733;
}

section {
    padding: 50px;
    text-align: center;
}

#galeria {
    padding: 50px;
    text-align: center;
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.imagenes img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#contacto {
    background-color: #877357;
}

main{
    padding:15px;
    min-height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    gap: 20px;
    flex-wrap: wrap;
}


form{
    background: #fff;
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgb(36, 27, 11);
    border:2px solid #636363;
    flex:1;
    max-width: 500px;
}


form .grupo{
    position:relative;
    margin: 45px;
}

input textarea{
    background: #fff;
    color: rgb(92, 102, 111);
    font-size: 20px;
    padding: 10px;
    width: 100%;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

label{
    color:rgb(56, 51, 41);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: -20px;
}

.button{
    display: flex;
    justify-content: center;
}

iframe{

    width: 600px;
    height: 400px;
    flex: 1;
    max-width: 100%;
    border:2px solid black;
    border-radius: 10px;
}

footer{
    background-color: rgb(223, 211, 189);
    border-top: solid 3px rgb(168, 153, 124);
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: rgb(56, 51, 41);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a{
    color: rgb(56, 51, 41);
    text-decoration: none;
}

footer a:hover{
    color:rgb(248, 248, 248)

}




