*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin:100px;
}

.prueba{
    width: 20px;
    height: 100px;
    border: 2px solid black;
}

p{
    font-size: 5em;
}