*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin:100px;
}

.prueba{
    width: 50vw;
    border: 2px solid black;
    padding: calc(2rem + 5px);
}

h1{
    font-size: calc(2vw + 10px);
}