*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    width: 96vw;
    border-top: 1px solid;
    padding: 2vw;
    text-align: justify;
}

main>div{
    display: none;
}

div.active{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

main img{
    width: 20vw;
    margin: 40px;
    cursor: pointer;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}

li{
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
}

li:hover{
    color: red;
    background-color: gray;
}
li.active{
    color: white;
    background-color: black;
}
li.active:hover{
    color: red;
    background-color: black;
}

#div-1 div{
    margin: 40px;
}
#div-1 div img{
    transform: rotateY(180deg);
    transition: transform 1s;
    width: 40vw;
    height: 40vw;
    border: 1px solid black;
    margin: 0;
}

#div-1 div:hover img{
    transform: rotateY(0deg);
}