*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 15px;

}

.div1{
    background-color: bisque;

}

.div2{
    background-color: aquamarine;

}

.div3{
    background-color: beige;
    display:none;
}