*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(223, 211, 189);
    height: 75px;
    padding: 15px;
    display: flex;
    justify-content:center;

}

.img1{
    height:95px;
    position: relative;
    top: -60%;
    right: 20%;
}

.img2{
    height:95px;
    position: relative;
    top: -55%;
    left: 60%;
}

ul li{
    display:inline;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    margin:10px;
    position: relative;
    top: 10px;
    right: 100px;
}

li{
    padding-left:10px;
    color:rgb(56, 51, 41);
    cursor: pointer;
    
}

li:hover{
    color:rgb(248, 248, 248)
}

main{
    padding:15px;
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
}

p{
    padding:10px;
    text-align: justify;
}

.photos{
    display: flex;
    flex-wrap: wrap;
}

.photo{
    width: calc(50vw - 44px);
    height: calc(50vw - 44px);
    margin: 10px;
    background-size: center;
    background-position: center;
    background-repeat: no-repeat;
}

.photo1{
    background-image: url(../Dia5/esfinge.webp);
}

.photo2{
    background-image: url(../Dia5/gatonegro.avif);
}

.photo3{
    background-image: url(../Dia5/siames.jpg);
}

.photo4{
    background-image: url(../Dia5/raza\ 4x4.webp);
}
footer{
    background-color: rgb(223, 211, 189);
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: rgb(56, 51, 41);
}