*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ebebeb;
    border-bottom: 1px solid #8e8e8e;
    height: 6em;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    width: 100%;
}

header h2{
    margin-top: 1em;
}


header a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 4em;
}

.menu-horizontal li a{
    display: block;
    text-decoration: none;
}

.menu-horizontal li:hover{
    color:aliceblue;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 8em;
    background-color: #ebebeb;
    padding: 1em;
}

.menu-vertical li{
    margin: 1em;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

nav a:hover{
    color: aliceblue;
}

input{
    background: none;
    border-bottom: 1px solid rgb(116, 116, 116);
}

button img{
    width: 30px;
    height: auto;
}

button{
    background: none;
}

.navegador{
    display: flex;
    align-items: center;
    gap: 8em;
    margin-bottom: 1em;

}

.redes img{
    display: inline;
    flex-wrap: nowrap;
    width: 40px;
}


/*NOTICIAS*/
.hueco_noticias{
    height: 11vh;
    width: 100%;
}

.noticias img{
    width: 20vw;
    height: auto;
}

.noticias{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2em;
    margin: 2em;
    background-color: white;
    width: 95vw;
    height: auto;
    text-align: justify;
}
.noticias a{
    text-decoration: none;
    color: black;
}
.noticias a:hover{
    color: rgb(156, 155, 236);
}
.noticias p{
    font-size: 14px;
}




/*AGUILA*/
.aguila{
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
.aguila img{
    width: 50vh;
    height: auto;
}

.aguila h2{
    font-size: 48px;
}
.aguila h4{
    font-size: 20px;
}

/*PEZ*/
.pez{
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

/*iceberg*/
.iceberg{
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

/*BALLENA*/
.ballena{
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

/*FORMULARIO*/

.formulario{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 30vw;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
    font-size: 40px;
}

.formulario form{
    margin: 2em;
    box-sizing: border-box;
    font-size: 18px;
}

.usuario{
    padding: 1.5em;
}

.password{
    padding: 1.5em;
}

.recordar{
    margin-left: 1em;
}

.iniciar input{
    position: absolute;
    bottom: 17vh;
    left: 3vw;
    font-size: 16px;
}

.registrate a{
    position: absolute;
    bottom:27vh;
    left: 38vw;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #9e9e9e;
    padding: 6px;
    border-radius: 10%;
}

.registrate a:hover{
    color:#ffffff;
}

/*FORM REGISTRO*/
.formulario-registro{
    background-color: #ffffff;
    width: 25vw;
    height: auto;
    position: absolute;
    top:30%;
    left: 38%;
    font-size: 18px;
    border-radius: 10px;
}

.formulario-registro h1{
    border-bottom: 1px solid gray;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.formulario-registro form{
    padding: 2em;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

.nombre-registro{
    margin-bottom: 1em;
}

.apellidos{
    margin-bottom: 1em;
}

.cumple{
    margin-bottom: 1em;
}

.mail{
    margin-bottom: 1em;
}

.password-registro{
    margin-bottom: 1em;
}

@media (max-width: 1024px) {
    .noticias {
        grid-template-columns: 1fr 1fr;
    }

    .hueco_noticias{
        height: 17em;
    }

    .aguila {
        grid-column: 1 / 3;
    }

    .aguila img {
        width: 100%;
    }

    .formulario, .formulario-registro {
        width: 50%;
    }
}

@media (max-width: 845px) {
    header {
        height: auto;
        padding: 5px;
    }

    .navegador {
        flex-direction: column;
        gap: 8px;
    }

    .menu-horizontal {
        flex-direction: column;
        gap: 10px;
    }

    .redes img {
        width: 30px;
    }

    .buscador {
        width: 100%;
    }

    .buscador input {
        width: 80%;
    }

    .noticias {
        grid-template-columns: 1fr;
        gap: 1em;
        margin: 1em;
    }

    .noticias img {
        width: 100%;
    }

    .aguila, .pez, .iceberg, .ballena {
        margin: 1em 0;
    }

    .aguila h2 {
        font-size: 36px;
    }

    .aguila h4 {
        font-size: 16px;
    }

    .formulario-registro {
        width: 90%;
        left: 5%;
        top: 50%;
    }

    .formulario{
        width: 90%;
        left: 50%;
        top: 50%;
    }


    .formulario h1, .formulario-registro h1 {
        font-size: 30px;
    }

    .registrate a {
        left: 50%;
        transform: translateX(-50%);
    }
}