*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ebebeb;
    border-bottom: 1px solid #8e8e8e;
    height: 6em;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    width: 100%;
}

header h2{
    margin-top: 1em;
}


header a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 4em;
}

.menu-horizontal li a{
    display: block;
    text-decoration: none;
}

.menu-horizontal li:hover{
    color:aliceblue;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 8em;
    background-color: #ebebeb;
    padding: 1em;
}

.menu-vertical li{
    margin: 1em;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

nav a:hover{
    color: aliceblue;
}

input{
    background: none;
    border-bottom: 1px solid rgb(116, 116, 116);
}

button img{
    width: 30px;
    height: auto;
}

button{
    background: none;
}

.navegador{
    display: flex;
    align-items: center;
    gap: 8em;
    margin-bottom: 1em;

}

.redes img{
    display: inline;
    flex-wrap: nowrap;
    width: 40px;
}

/*NOTICIAS*/
.hueco_noticias{
    border: 1px solid red;
    height: 11vh;
    width: 100%;
}

.noticias img{
    width: 20vw;
    height: auto;
}

.noticias{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2em;
    margin: 2em;
    background-color: white;
    width: 95vw;
    height: auto;
    text-align: justify;
}
.noticias a{
    text-decoration: none;
    color: black;
}
.noticias a:hover{
    color: rgb(156, 155, 236);
}
.noticias p{
    font-size: 14px;
}

/*AGUILA*/
.aguila{
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}
.aguila img{
    width: 50vh;
    height: auto;
}

.aguila h2{
    font-size: 48px;
}
.aguila h4{
    font-size: 20px;
}

/*PEZ*/
.pez{
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

/*iceberg*/
.iceberg{
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

/*BALLENA*/
.ballena{
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

/*FORMULARIO*/

.formulario{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 40vw;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
}

.formulario form{
    margin: 2em;
    box-sizing: border-box;
}

form .usuario{
    position: relative;
    border-bottom: 2px solid gray;
    margin: 30em;
}

.usuario input{
    height: 20px;
    font-size: 26px;
}

.usuario label{
    position: absolute;
    top: 7.5vh;
    font-size: 20px;
}
