*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(250, 245, 235);
}
header {
    background-color: rgb(223, 211, 189);
    border-bottom: solid 3px rgb(168, 153, 124);
    height: 75px;
    padding: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1000;

}

.headerIZQ{
    display: flex;
    align-items: center;
    gap:15px;
}
.logo{
    height:70px;
}

.logoletra{
    font-weight: bolder;
    font-size: 32px;
    white-space: nowrap;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 20px;
}

nav ul li{
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
}


li{
    padding-left:10px;
    color:rgb(56, 51, 41);
    cursor: pointer;
    
}

li:hover{
    color:rgb(248, 248, 248)
}

header nav ul li a.active{
    color:rgb(248, 248, 248);
    text-decoration: none;
    
}

nav ul li a {
    color:rgb(56, 51, 41);
    text-decoration: none;
}

a.active2{
    text-decoration: none;
    color:rgb(248, 248, 248)
}

main{
    padding:15px;
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.photos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.photo{
    width: 240px;
    height: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.photo:hover{
    transform: scale(1.02);
    filter: brightness(0.7);
}

.descripciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 210px;
    
}

.photo1{
    background-image: url(../Dia6/gatonegro.webp);
    block-size: 200px;
}
.photo2{
    background-image: url(../Dia6/esfinge.webp);
    block-size: 200px;
}

.photo3{
    background-image: url(../Dia6/siames.jpg);
    block-size: 200px;
}

.photo4{
    background-image: url(../Dia6/raza\ 4x4.webp);
    block-size: 200px;
}

.photo5{
    background-image: url(../Dia6/gatonegro.webp);
    block-size: 200px;
}
.photo6{
    background-image: url(../Dia6/esfinge.webp);
    block-size: 200px;
}

.photo7{
    background-image: url(../Dia6/siames.jpg);
    block-size: 200px;
}

.photo8{
    background-image: url(../Dia6/raza\ 4x4.webp);
    block-size: 200px;
}

.photo9{
    background-image: url(../Dia6/gatonegro.webp);
    block-size: 200px;
}
.photo10{
    background-image: url(../Dia6/esfinge.webp);
    block-size: 200px;
}


footer{
    background-color: rgb(223, 211, 189);
    border-top: solid 3px rgb(168, 153, 124);
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: rgb(56, 51, 41);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a{
    color: rgb(56, 51, 41);
    text-decoration: none;
}

footer a:hover{
    color:rgb(248, 248, 248)

}

@media (max-width: 768px){
    main{
        flex-direction: column;
        align-items: center;
    }
    form, iframe {
        width: 90%;
    }


}