*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 18%;
}

img{
    width: 15vw;
}